<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid  Classifier</title>
</head>
<body style="display:flex; flex-direction:column; align-items:center; justify-content:center; background-color:orange">
    <h1>Covid  Classifier</h1>
    <br>
    <form action="/predict" method="post">
        <h2>covidseverity i.e 0-low or 1 -medium or 2-high</h2>
        <input type="text" name="sepal_length">
        <br><br>
        <h2>verysevere symptoms i.e 0-low,1-high </h2>
        <input type="text" name="sepal_width">
        <br>
        <br>
        <input type="submit" value="Predict">
    </form>
    <br>

    <h1>Prediction : {{result}}</h1>
</body>
</body>
</html>